<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale.ljw.backend.dao.ActivityMapper">

    <resultMap id="BaseResultMap" type="sale.ljw.backend.pojo.Activity">
        <id property="activityid" column="activityId" jdbcType="INTEGER"/>
        <result property="activityname" column="activityName" jdbcType="VARCHAR"/>
        <result property="activitytypeid" column="activityTypeId" jdbcType="INTEGER"/>
        <result property="activityinfo" column="activityInfo" jdbcType="VARCHAR"/>
        <result property="activityorganizer" column="activityOrganizer" jdbcType="VARCHAR"/>
        <result property="activitydate" column="activityDate" jdbcType="TIMESTAMP"/>
        <result property="activityapplication" column="activityApplication" jdbcType="TIMESTAMP"/>
        <result property="activityage" column="activityAge" jdbcType="INTEGER"/>
        <result property="activityDelete" column="activityDelete" jdbcType="INTEGER"/>
        <result property="activitystatus" column="activityStatus" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        activityId
        ,activityName,activityTypeId,
        activityInfo,activityOrganizer,activityDate,activityApplication,
        activityAge,activityStatus,activityDelete
    </sql>
    <select id="queryActivity" resultType="java.util.Map">
        SELECT  activity.activityId,activity.activityName,activityInfo,activityOrganizer,
                DATE_FORMAT(activityDate, '%Y年%m月%d日') activityDate,DATE_FORMAT(activityApplication, '%Y年%m月%d日 %H时%i分') activityApplication,activity.activityAge,
                Constant.value activityStatus,activityType.activityTypeName
        <if test="findActivity.itself">
            ,appCon.value applicationStatus
        </if>
        FROM activity
                 INNER JOIN Constant ON Constant.coding=activity.activityStatus
                 INNER JOIN activityType ON activityType.activityTypeId=activity.activityTypeId
        <if test="findActivity.itself">
            INNER JOIN application ON application.userId=#{userId}
            INNER JOIN Constant appCon ON application.applicationStatus=appCon.coding
        </if>
        WHERE activity.activityDelete=0
          <if test="findActivity.itself">
              AND activity.activityId IN (SELECT app.activityId FROM application app WHERE app.userId=#{userId})
          </if>
        <if test="findActivity.activityName != null">
            AND activity.activityName LIKE CONCAT('%',#{findActivity.activityName},'%')
        </if>
        <if test="findActivity.activityOrganizer != null">
            AND activity.activityOrganizer LIKE CONCAT('%',#{findActivity.activityOrganizer},'%')
        </if>
        <if test="findActivity.activityTypeId != null">
            AND activity.activityTypeId = #{findActivity.activityTypeId}
        </if>
        <if test="findActivity.activityStatus!=null">
            AND activity.activityStatus=#{findActivity.activityStatus}
        </if>
        <if test="findActivity.notShowActivityId!=null &amp;&amp; findActivity.notShowActivityId.size!=0">
            AND activity.activityId NOT IN
            <foreach collection="findActivity.notShowActivityId" open="(" close=")" item="notShowActivity" separator="," index="index">
                #{notShowActivity}
            </foreach>
        </if>
    </select>
    <update id="checkActivityExpired">
        UPDATE activity SET activityStatus=(
            CASE WHEN NOW()>activityDate
            THEN 'ACS03'
            ELSE (
             CASE WHEN (NOW()>activityApplication AND activityDate>NOW())
             THEN 'ACS02' ELSE 'ACS01' END) END)
        WHERE activityStatus IN ('ACS01','ACS02') AND activityDelete=0
    </update>

    <select id="detectAge" resultType="java.lang.Integer">
        SELECT COUNT(user.user_id)
        FROM User user
        INNER JOIN activity ON activity.activityId=#{activityId}
        WHERE user.user_id=#{userId} AND user.user_age>activity.activityAge AND activity.activityApplication>NOW()
    </select>

</mapper>
