<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale.ljw.backend.dao.BookshelfMapper">

    <resultMap id="BaseResultMap" type="sale.ljw.backend.pojo.Bookshelf">
        <id property="shelfId" column="shelf_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="bookId" column="book_id" jdbcType="VARCHAR"/>
        <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
        <result property="bookStar" column="book_star" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="BaseResultBookshelf" type="sale.ljw.backend.form.BookshelvesBooks">
        <id property="bookName" column="bookName" jdbcType="VARCHAR"/>
        <id property="bookImage" column="bookImage" jdbcType="VARCHAR"/>
        <id property="bookAuthor" column="bookAuthor" jdbcType="VARCHAR"/>
        <id property="bookInfo" column="bookInfo" jdbcType="VARCHAR"/>
        <id property="bookAddress" column="bookAddress" jdbcType="VARCHAR"/>
        <id property="bookStar" column="bookStar" jdbcType="DOUBLE"/>
        <id property="bookStatus" column="bookStatus" jdbcType="VARCHAR"/>
        <id property="bookType" column="bookType" jdbcType="VARCHAR"/>
        <id property="bookLanguage" column="bookLanguage" jdbcType="VARCHAR"/>
        <id property="bookCountry" column="bookCountry" jdbcType="VARCHAR"/>
        <id property="bookId" column="bookId" jdbcType="VARCHAR"/>
        <id property="userId" column="userId" jdbcType="VARCHAR"/>
        <id property="borrowNumber" column="borrowNumber" jdbcType="INTEGER"/>
        <collection property="bookTags"
                    javaType="arrayList"
                    ofType="map"
                    column="{bookId=bookId,userId=userId}"
                    select="sale.ljw.backend.dao.BooktapMapper.queryBookmarksByBookId"/>
    </resultMap>

    <sql id="Base_Column_List">
        shelf_id
        ,user_id,book_id,
        add_time,book_star
    </sql>
    <select id="queryBookshelvesBooks" resultMap="BaseResultBookshelf">
        SELECT DISTINCT BookShelf.shelf_id shelfId,book_name bookName,book_image bookImage,book_author bookAuthor,
                        book_info bookInfo,book_address bookAddress,BookShelf.book_star bookStar,
                        Constant.value bookStatus,Book_type.type_name bookType,
                        Book_Constant_language.value bookLanguage,Book_Constant_country.value bookCountry,
                        Book.borrow_number borrowNumber,Book.book_id bookId,BookShelf.user_id userId
        FROM BookShelf
                 INNER JOIN Book ON BookShelf.book_id=Book.book_id
                 INNER JOIN Constant ON Book.book_status=Constant.coding
                 INNER JOIN Constant Book_Constant_language ON Book.book_language=Book_Constant_language.coding
                 INNER JOIN Constant Book_Constant_country ON Book.author_country=Book_Constant_country.coding
                 INNER JOIN Type Book_type ON Book.type_id=Book_type.type_id
        WHERE BookShelf.book_delete=0 AND BookShelf.user_id=#{userId}
        <if test="bookName != null">
            AND Book.book_name LIKE CONCAT('%',#{bookName},'%')
        </if>
        <if test="authorName != null">
            AND Book.book_author LIKE CONCAT('%',#{authorName},'%')
        </if>
        <if test="bookType != null">
            AND Book.type_id = #{bookType}
        </if>
    </select>
    <select id="searchSameBook" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM BookShelf
        WHERE user_id=#{userId} AND book_id=#{bookId} AND book_delete=0
    </select>
</mapper>
