<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale.ljw.backend.dao.BooktapMapper">

    <resultMap id="BaseResultMap" type="sale.ljw.backend.pojo.Booktap">
        <result property="bookid" column="bookId" jdbcType="VARCHAR"/>
        <result property="tapid" column="tapId" jdbcType="INTEGER"/>
        <result property="userid" column="userId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        bookId
        ,tapId,userId
    </sql>
    <select id="queryBookmarksByBookId" resultType="java.util.Map">
        SELECT bookTap.id tapId,bookTag.tag_value tagValue,bookTag.tag_id tagId
        FROM bookTap,bookTag
        WHERE bookTap.bookId=#{bookId} AND bookTag.tag_delete=0 AND bookTap.tapId=bookTag.tag_id AND (bookTag.user_id IS NULL OR bookTap.userId=#{userId})
    </select>
    <select id="queryBookDetailsTag" resultType="java.util.Map">
        SELECT bookTag.tag_value tagName,bookTag.tag_id tagId
        FROM bookTag
        WHERE bookTag.tag_delete=0 AND bookTag.user_id IS NULL AND bookTag.tag_id IN (
            SELECT
                bookTap.tapId
            FROM
                bookTap
            WHERE
                bookTap.bookId=#{bookId} AND bookTap.userId IS NULL
        )
    </select>

</mapper>
