<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale.ljw.backend.mapper.CommentsMapper">

    <resultMap id="BaseResultMap" type="sale.ljw.backend.pojo.Comments">
        <id property="commentsId" column="comments_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="bookId" column="book_id" jdbcType="VARCHAR"/>
        <result property="commentsInfo" column="comments_info" jdbcType="VARCHAR"/>
        <result property="deleteComments" column="delete_comments" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        comments_id
        ,user_id,book_id,
        comments_info,delete_comments
    </sql>
</mapper>
