<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale.ljw.backend.dao.ConstantMapper">

    <resultMap id="BaseResultMap" type="sale.ljw.backend.pojo.Constant">
        <result property="coding" column="coding" jdbcType="CHAR"/>
        <result property="value" column="value" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        coding
        ,value
    </sql>
    <select id="getAuthorCountry" resultType="java.util.Map">
        SELECT coding,value
        FROM Constant
        WHERE coding LIKE 'C____'
    </select>

    <select id="getBookLanguage" resultType="java.util.Map">
        SELECT coding,value
        FROM Constant
        WHERE coding LIKE 'L____'
    </select>
    <select id="getBorrowStatus" resultType="java.util.Map">
        SELECT coding,value
        FROM Constant
        WHERE coding LIKE 'BWS__'
    </select>
    <select id="getPreOrderBookStatus" resultType="java.util.Map">
        SELECT coding,value
        FROM Constant
        WHERE coding LIKE 'RS___'
    </select>
    <select id="getActivityStatus" resultType="java.util.Map">
        SELECT coding,value
        FROM Constant
        WHERE coding LIKE 'ACS__'
    </select>
    <select id="getFloor" resultType="java.util.Map">
        SELECT floor_id coding,floor_name value,AppointmentsTime.time_start timeStart,AppointmentsTime.time_end timeEnd
        FROM libraryManage.Open
            INNER JOIN AppointmentsTime ON Open.time_id=AppointmentsTime.time_id
        WHERE floor_status='FS001' AND people_count!=0
    </select>
    <select id="getGender" resultType="java.util.Map">
        SELECT Constant.coding,Constant.value
        FROM Constant
        WHERE Constant.coding LIKE 'GM___'
    </select>
    <select id="getBookStatus" resultType="java.util.Map">
        SELECT Constant.coding,Constant.value
        FROM Constant
        WHERE Constant.coding LIKE 'BS___'
    </select>
    <select id="findAllConstant" resultType="java.util.Map">
        SELECT Constant.coding,Constant.value
        FROM Constant
        <where>
            <if test="value!=null">
                Constant.value LIKE CONCAT('%',#{value},'%')
            </if>
        </where>
    </select>
</mapper>
