<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale.ljw.backend.dao.OpenMapper">

    <resultMap id="BaseResultMap" type="sale.ljw.backend.pojo.Open">
        <id property="floorId" column="floor_id" jdbcType="INTEGER"/>
        <result property="floorName" column="floor_name" jdbcType="VARCHAR"/>
        <result property="floorStatus" column="floor_status" jdbcType="CHAR"/>
        <result property="peopleCount" column="people_count" jdbcType="INTEGER"/>
        <result property="timeId" column="time_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        floor_id
        ,floor_name,floor_status,
        people_count,time_id
    </sql>
    <update id="reservePeoperCount">
        UPDATE libraryManage.Open SET people_count=people_count-#{number} WHERE floor_id=#{floorId}
    </update>
    <update id="updateFloorPeopleCount">
        UPDATE libraryManage.Open SET people_count=#{number}
    </update>
    <select id="findAllFloor" resultType="java.util.Map">
        SELECT
            Open.floor_id floorId,Open.floor_name floorName,people_count peopleCount,AppointmentsTime.time_start timeStart,AppointmentsTime.time_end timeEnd,
            Open.time_id timeId,Open.floor_status floorStatusCoding,Constant.value floorStatus
        FROM
            libraryManage.Open
                INNER JOIN Constant ON Open.floor_status=Constant.coding
                INNER JOIN AppointmentsTime ON Open.time_id=AppointmentsTime.time_id
    </select>
</mapper>
