<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale.ljw.backend.dao.ScheduledMapper">

    <resultMap id="BaseResultMap" type="sale.ljw.backend.pojo.Scheduled">
        <id property="scheduledId" column="scheduled_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="bookName" column="book_name" jdbcType="VARCHAR"/>
        <result property="scheduledStatus" column="scheduled_status" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        scheduled_id
        ,user_id,book_name,
        scheduled_status
    </sql>
    <select id="findBookReservation" resultType="java.util.Map">
        SELECT Scheduled.scheduled_id scheduledId,Scheduled.book_name bookName,Constant.value bookStatus
        FROM Scheduled
                 INNER JOIN Constant ON Scheduled.scheduled_status=Constant.coding
        WHERE Scheduled.user_id=1
        <if test="bookName != null">
            AND Scheduled.book_name LIKE CONCAT('%',#{bookName},'%')
        </if>
        <if test="bookType != null">
            AND Scheduled.scheduled_status = #{bookType}
        </if>
    </select>
</mapper>
