<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale.ljw.backend.dao.UserappointmentsMapper">

    <resultMap id="BaseResultMap" type="sale.ljw.backend.pojo.Userappointments">
        <id property="appointmentId" column="appointment_id" jdbcType="INTEGER"/>
        <result property="floorId" column="floor_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="appointmentTime" column="appointments_time" jdbcType="TIMESTAMP"/>
        <result property="appointmentsStatus" column="appointments_status" jdbcType="CHAR"/>
        <result property="appointmentsCreatetime" column="appointments_createTime" jdbcType="TIMESTAMP"/>
        <result property="seatname" column="seatName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        appointment_id
        ,floor_id,user_id,
        appointments_time,appointments_status,appointments_createTime,
        seatName
    </sql>
    <select id="findAllAppointmentsByUser" resultType="java.util.Map">
        SELECT Appointment_id appointmentId,Open.floor_name floorName,DATE_FORMAT(appointment_time, '%Y年%m月%d日 %H时%i分') appointmentTime,
               DATE_FORMAT(appointments_createTime, '%Y年%m月%d日 %H时%i分') appointmentsCreateTime,Constant.value appointmentsStatus,UserAppointments.seatName seatName
        FROM UserAppointments
                 INNER JOIN libraryManage.Open ON Open.floor_id=UserAppointments.floor_id
                 INNER JOIN Constant ON appointments_status=coding
        WHERE UserAppointments.user_id=#{userId}
    </select>

    <update id="updateCancelAppointment">
        UPDATE UserAppointments SET appointments_status='AS003'
       WHERE
            appointment_id=#{appointmentId} AND appointments_status IN ('AS001','AS005') AND user_id=#{userId}
    </update>
</mapper>
