<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale.ljw.backend.mapper.UserappointmentsMapper">

    <resultMap id="BaseResultMap" type="sale.ljw.backend.pojo.Userappointments">
        <id property="appointmentId" column="appointment_id" jdbcType="INTEGER"/>
        <result property="floorId" column="floor_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="appointmentsId" column="appointments_id" jdbcType="CHAR"/>
        <result property="appointmentsStatus" column="appointments_status" jdbcType="CHAR"/>
        <result property="appointmentsCreatetime" column="appointments_createTime" jdbcType="TIMESTAMP"/>
        <result property="seatname" column="seatName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        appointment_id
        ,floor_id,user_id,
        appointments_id,appointments_status,appointments_createTime,
        seatName
    </sql>
</mapper>
